$theme-colors: (
        "primary": #b8f24c,
        "secondary": #60614e,
        "tertiary": #67c258,
        "light": #dbd7c3,
        "dark": #4a3a2f,
        "black": #000
);
$body-bg: map-get($theme-colors, dark);
$body-color: map-get($theme-colors, light);
$enable-rounded: false;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$text-muted: darken(map-get($theme-colors, light), 30%);
$breadcrumb-bg: transparent;
$breadcrumb-padding-y:              .25rem;
$breadcrumb-padding-x: 0;
$breadcrumb-active-color: map-get($theme-colors, light);

/**
Pagination
 */
$pagination-color: $body-color;
$pagination-bg: map-get($theme-colors, dark);
$pagination-border-color: map-get($theme-colors, dark);
$pagination-hover-color: lighten($pagination-color, 30%);
$pagination-hover-bg: lighten($pagination-bg, 30%);
$pagination-hover-border-color: lighten($pagination-border-color, 30%);

$pagination-active-color: $pagination-hover-color;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: $pagination-hover-border-color;

/**
Tabs
 */
$nav-tabs-border-color:             darken(map-get($theme-colors, dark), 10%);
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
$nav-tabs-link-active-color:        map-get($theme-colors, primary);
$nav-tabs-link-active-bg:           map-get($theme-colors, dark);
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;