$spellColor: #c03e2e;
@font-face {
  font-family: 'DM Serif Display';
  src: url('../../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Patua One';
  src: url('../../fonts/Patua_One/PatuaOne-Regular.ttf')  format('truetype');
}

.spell-block, a[data-entity-type="spell_block"] {
  display: block;
  color: #000;
  margin: 20px;
  max-width: 100%;
  width: 320px;
  line-height: 1.2em;
  background-color: $spellColor;
  padding: 15px;
}
.spell-block {
  h1 {
    font-family: "DM Serif Display", "Noto Sans", "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
    font-size: 28px;
    background-color: #fff;
    text-align: center;
    font-variant: all-small-caps;
    margin: 0;
    padding: 5px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .spell-bg-red {
    font-size: 80%;
    color: #fff;
    text-align: center;
  }
  .spell-block-stats {
  }
  .spell-block-stats .stat {
    padding: 5px 10px;
    background-color: #fff;
    float: left;
    display: inline-block;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
  }
  .spell-block-stats .stat:nth-child(1), .stat:nth-child(2) {
    border-bottom: 2px solid $spellColor;
  }
  .spell-block-stats .stat:nth-child(1), .stat:nth-child(3) {
    border-right: 2px solid $spellColor;
  }
  .stat h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 22px;
    font-family: "Patua One", serif;
    margin: 0;
    color: #c03e2e;
    font-variant: all-small-caps;
  }
  .spell-block-description {
    clear: left;
    border-top: 15px solid $spellColor;
    background-color: #fff;
    padding: 5px 10px;
    white-space: pre-wrap;
  }
}